<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/sass/styles.css">
    <title>Responsive Icons</title>
  </head>
  <body>
    <div class="main_container">
      <ul class="iconul">
        <li class="iconList">
          <i class="fa fa-gitlab fa-5x" aria-hidden="true"></i>
          <h2 class="h3title"></h2>
        </li>
        <li class="iconList">
          <i class="fa fa-plane fa-5x" aria-hidden="true"></i>
          <h2 class="h3title"></h2>
        </li>
        <li class="iconList">
          <i class="fa fa-bicycle fa-5x" aria-hidden="true"></i>
          <h2 class="h3title"></h2>
        </li>
        <li class="iconList">
          <i class="fa fa-envira fa-5x" aria-hidden="true"></i>
          <h2 class="h3title"></h2>
        </li>
        <li class="iconList">
          <i class="fa fa-diamond fa-5x" aria-hidden="true"></i>
          <h2 class="h3title"></h2>
        </li>
        <li class="iconList">
          <i class="fa fa-google fa-5x" aria-hidden="true"></i>
          <h2 class="h3title"></h2>
        </li>
        <li class="iconList">
          <i class="fa fa-headphones fa-5x" aria-hidden="true"></i>
          <h2 class="h3title"></h2>
        </li>
        <li class="iconList">
          <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
          <h2 class="h3title"></h2>
        </li>
        <li class="iconList">
          <i class="fa fa-road fa-5x" aria-hidden="true"></i>
          <h2 class="h3title"></h2>
        </li>
      </ul>

    </div>

    <script type="text/javascript" src="assets/js/grid.js"></script>
  </body>
</html>
