<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/sass/styles.css">
    <title>Responsive Icons</title>
  </head>
  <body>
    <div class="main_container">
      <ul class="iconul">
        <li class="iconList">
          <i class="fa fa-gitlab" aria-hidden="true"></i>
        </li>
        <li class="iconList"></li>
        <li class="iconList"></li>
      </ul>

    </div>

    <script type="text/javascript" src="assets/js/grid.js"></script>
  </body>
</html>
