@import "../../../../bower_components/susy/sass/susy";
$fa-font-path: "../../../../bower_components/font-awesome/fonts";
@import "../../../../bower_components/font-awesome/scss/font-awesome";


$total-columns: 12;
$column-width: 4em;

body{
  background-color: lightblue;
  @include container;
  @include show-grid(overlay);
}

.iconList{
  list-style: none;
}
